:root {
    --font-title: "Russo One", sans-serif;
    --font-text: "Quicksand", sans-serif;
    --color-light: #f4f4f4;
    --color-blue-300: #32cbd6;
    --color-blue-900: #120d24;
    --color-purple-300: #d34cb6;
    --bg-video: rgba(19, 15, 37, .8);
}
 
body {
    font-family: var(--font-text);
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}
 
.color-blue-300{
    color: var(--color-blue-300);
}
 
.color-purple-300{
    color: var(--color-purple-300);
}
 
.navbar-brand {
    font-size: 40px;
    color: var(--color-light);
}
 
.navbar-brand:hover, .navbar-brand:focus {
    color: var(--color-light);
}
 
.bi-controller {
    color: var(--color-blue-300);
    position: relative;
    top:2px;
}
 
.navbar-toggler {
    box-shadow: none !important;
    border-color: var(--color-blue-300);
    border-width: 2px;
}
 
.bi-filter-right {
    color: var(--color-blue-300);
    font-size: 25px;
}
 
.nav-item a {
    font-weight: 900;
    color: var(--color-light);
}
 
.nav-item a:hover, .nav-item a:focus {
    color: var(--color-blue-300);
}
 
/************************ fim do menu principal ************************/
 
/************************ vídeo de fundo ************************/
.hero-page {
    min-height: 100vh;
    position: relative;
    top: 0;    
}
 
.hero-page::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--bg-video);
    z-index: -1;
}
 
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;    
}
/************************ fim formatação vídeo de fundo ********************/
.cta {
    width: 90%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
 
.cta-btn-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
 
.btn-link {
    border: 2px solid var(--color-blue-300);
    padding:  10px;
    min-width: 250px;
    transform: skew(-20deg);
    position: relative;
}
 
.btn-link::after {
    content: '';
    width: 0;
    height: 100%;
    background-color: var(--color-blue-300);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(4px);
    transition: width .5s;
}
 
.btn-link:hover::after{
    width: 100%;
}
 
.btn-link a {
    color: var(--color-light);
    display: inline-block;
    transform: skew(20deg);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
/* ----------------------------- Fim hero page ------------------------------ */
 
/* ----------------------------- Quero jogar ------------------------------ */
.jogar {
    min-height: 100vh;
    background-color: var(--color-blue-900);
}
 
.jogar .row {
    min-height: 100vh;
    width: 100%;
}
 
.jogar-titulo {
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 2px var(--color-blue-300) ;
}
 
.jogar img {
    border: 15px dashed var(--color-blue-300);
}
 
/* ---------------------------- Fim Quero jogar --------------------------- */